{% extends "base.html" %}

{% block content %}
<script>
    function hide(id) {
        var x = document.getElementById(id);
        x.style.display = 'none';
    }
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
</script>
<h1>View results</h1><br>
<form method="POST" action="{{base_path}}/analysis">
    <div class="panel panel-default">
        <div class="panel-heading">Use results from</div>
        <div class="panel-body">
            <input id='inputGroupAll' type="radio" name="group" value="all" onclick="hide('groups_table')"> All of my groups<br>
            <input id='inputGroupMe' type="radio" name="group" value="me" onclick="hide('groups_table')"> Only me<br>
            <input id='inputGroupCustom' type="radio" name="group" value="custom" onclick="show('groups_table')"> Choose groups<br>
            <style>
                ul.groupsInput {
                    column-width: 20em;
                    list-style-type: none;
                }
            </style>
            <ul id="groups_table" class="groupsInput" hidden>
                {% for group in groups %}
                <li>
                    <input id="group{{group.id}}" type="checkbox" name="{{group.id}}" class="group_checkbox"> {{group.name}}<br>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <input id="legendInput" type="checkbox" name="legend"><span> Only use results from Legend-ranked games.</span>
            <br>
            <input id="mirrorInput" type="checkbox" name="mirror"><span> Use mirrored results.</span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Show</div>
        <div class="panel-body">
            <input id='inputClassAll' type="radio" name="class" value="all" onclick="hide('hero');">All class winrates<br>
            <input id='inputClassFor' type="radio" name="class" value="for" onclick="show('hero');">Matchups for a class<br>
            <select id="hero" name="hero" hidden>
                <option value="1">Warrior</option>
                <option value="2">Shaman</option>
                <option value="3">Rogue</option>
                <option value="4">Paladin</option>
                <option value="5">Hunter</option>
                <option value="6">Druid</option>
                <option value="7">Warlock</option>
                <option value="8">Mage</option>
                <option value="9">Priest</option>
            </select>
        </div>
    </div>
    <input type="submit" value="Refresh" class="btn btn-lg">
</form>
<br><br>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                <h2 id="classHeader">Class</h2>
            </th>
            <th>
                <h2>Winrate</h2>
            </th>
            <th>
                <h2>Sample</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td>
                <h3>{{stat.header}}</h3>
            </td>
            <td>
                <h3>{{stat.winrate}}%</h3>
            </td>
            <td>
                <h3>{{stat.sample}}</h3>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    var group = "{{statsInput['group']}}";
    var id;
    if(group == 'all'){
        id = 'inputGroupAll';
    }else if(group == 'me'){
        id = 'inputGroupMe';
    }else{
        id = 'inputGroupCustom';
        show('groups_table');
    }
    document.getElementById(id).setAttribute('checked', 'checked');
    
    var classInput = "{{statsInput['class']}}";
    var classId;
    if(classInput == 'all'){
        classId = 'inputClassAll';
    }else{
        classId = 'inputClassFor';
        show('hero');
    }
    document.getElementById(classId).setAttribute('checked', 'checked');
    
    if(classInput == 'for'){
        document.getElementById('classHeader').innerHTML = 'Opponent';
        var heroInput = "{{statsInput['hero']}}";
        document.getElementById('hero').value = heroInput;
    }
    
    if("{{statsInput['legend']}}" == '1'){
        document.getElementById('legendInput').setAttribute('checked', 'checked');
    }
    if("{{statsInput['mirror']}}" == '1'){
        document.getElementById('mirrorInput').setAttribute('checked', 'checked');
    }
</script>
{% for groupId in statsInput['groupIds']%}
<script>
    document.getElementById('group{{groupId}}').setAttribute('checked', 'checked');
</script>
{% endfor %}
<br><br>
<a href="{{base_path}}/main" class="btn btn-default">Back to main page</a>
{% endblock %}