{% extends "base.html" %}

{% block content %}
<script>
    function hide(id) {
        var x = document.getElementById(id);
        x.style.display = 'none';
    }
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
</script>
<h1>View results</h1><br>
<form>
    Show results from<br>
    <input type="radio" name="date" value="all" onclick="hide('date_input')" checked> All time<br>
    <input type="radio" name="date" value="custom" onclick="show('date_input')"> Choose timeframe<br>
    <div id="date_input" hidden>
        <input type="date" name="show_from">
        to
        <input type="date" name="show_to">
    </div><br>
    Show results from<br>
    <input type="radio" name="group" value="all" onclick="hide('groups_table')"> All of my groups<br>
    <input type="radio" name="group" value="me" onclick="hide('groups_table')"> Only me<br>
    <input type="radio" name="group" value="custom" onclick="show('groups_table')"> Choose groups<br>
    <table id="groups_table" hidden>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox"> Ryhmä1<br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox"> Ryhmä2<br>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<br><br>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>Class</h2>
            </th>
            <th>
                <h2>Winrate</h2>
            </th>
            <th>
                <h2>Sample</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td>
                <h3>{{stat.header}}</h3>
            </td>
            <td>
                <h3>{{stat.winrate}}%</h3>
            </td>
            <td>
                <h3>{{stat.sample}}</h3>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<a href="{{base_path}}/paasivu" class="btn btn-primary btn-lg">Back to main page</a>
{% endblock %}