{% extends "base.html" %}

{% block content %}
<script>
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
</script>
<form method="POST" action="{{base_path}}/etusivu">
    Username:<br>
    <input id="usernameIn" type="text" name="username" value="{{usernameInput}}"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <input type="hidden" name="register" value="false">
    <input type="submit" value="Log in" class="btn btn-primary btn-lg">
    <div id="loginError"></div>
</form>
<script>
    if(document.getElementById('usernameIn').getAttribute('value') != ''){
        document.getElementById('loginError').innerHTML = ' Invalid username or password.';
    }
</script>
<br>
<button onclick="show('register')">
    Register
</button>
<p id="errorMessage">{{error}}</p>
<form id="register" method="POST" action="{{base_path}}/etusivu" hidden>
    Username:<br>
    <input id="registerUsername" type="text" name="username" value="{{registerUsernameInput}}"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <input type="hidden" name="register" value="true">
    <input type="submit" value="Register" class="btn btn-primary btn-lg">
</form>
<script>
    var error = document.getElementById('errorMessage').innerHTML;
    if(error.length != ''){
        show('register');
    }
</script>
{% endblock %}