{% extends "base.html" %}

{% block content %}
<script>
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
</script>
<form>
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <input type="submit" value="Log in" class="btn btn-primary btn-lg">
</form>
<br>
<button onclick="show('register')">
    Register
</button>
<form id="register" hidden>
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    Confirm password:<br>
    <input type="password" name="password"><br>
    <input type="submit" value="Register" class="btn btn-primary btn-lg">
</form>
{% endblock %}