{% extends "base.html" %}

{% block content %}
<script>
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
    function setWidth(id, width) {
        var x = document.getElementById(id).style.width = width;
    }
</script>
<form method="POST" action="{{base_path}}/login">
    <div class="form-inline">
        <div class="input-group">
            <span class="input-group-addon">Username</span>
            <input id="usernameIn" type="text" name="username" value="{{usernameInput}}" class="form-control">
        </div>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" name="password" class="form-control">
        </div>
    </div>
    <br>
    <input type="hidden" name="register" value="false">
    <input type="submit" value="Log in" class="btn">
    <div id='loginAlert' class="alert alert-danger alert-dismissable fade in" hidden>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div id="loginError"></div>
    </div>
</form>
<script>
    if(document.getElementById('usernameIn').getAttribute('value') != ''){
        document.getElementById('loginError').innerHTML = ' Invalid username or password.';
        show('loginAlert');
    }
</script>
<br>
<p>Don't have an account? Register here: </p>
<button onclick="show('register')" class="btn">
    Register
</button>
<br>
<div id="errorAlert" class="alert alert-danger alert-dismissable fade in" hidden>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div id="errorMessage">{{error}}</div>
</div>
<br>
<form id="register" method="POST" action="{{base_path}}/login" hidden>
    <div class="form-inline">
        <div class="input-group">
            <span class="input-group-addon">Username</span>
            <input id="registerUsername" type="text" name="username" value="{{registerUsernameInput}}" class="form-control">
        </div>
        <br><br>
        <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" name="password" class="form-control">
        </div>
    </div>
    <br>
    <input type="hidden" name="register" value="true">
    <input type="submit" value="Register" class="btn">
</form>
<script>
    var error = document.getElementById('errorMessage').innerHTML;
    if(error.length != ''){
        show('errorAlert');
        show('register');
    }
</script>
<script>
    var alertWidth = '300px';
    setWidth('loginAlert', alertWidth);
    setWidth('errorAlert', alertWidth);
</script>
{% endblock %}