{% extends "base.html" %}

{% block content %}
<h1>Log results</h1>
<br>
<form method="POST" action="{{base_path}}/kirjaus">
    <div class="form-inline">
        <div class="input-group">
            <span class="input-group-addon">Class</span>
            <select id="hero" name="hero" class="form-control">
                <option value="1">Warrior</option>
                <option value="2">Shaman</option>
                <option value="3">Rogue</option>
                <option value="4">Paladin</option>
                <option value="5">Hunter</option>
                <option value="6">Druid</option>
                <option value="7">Warlock</option>
                <option value="8">Mage</option>
                <option value="9">Priest</option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <div class="input-group">
            <span class="input-group-addon">Opponent</span>
            <select id="opponent" name="opponent" class="form-control">
                <option value="1">Warrior</option>
                <option value="2">Shaman</option>
                <option value="3">Rogue</option>
                <option value="4">Paladin</option>
                <option value="5">Hunter</option>
                <option value="6">Druid</option>
                <option value="7">Warlock</option>
                <option value="8">Mage</option>
                <option value="9">Priest</option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <input id="win" type="radio" name="win" value="win" class="form-control"> Win<br>
        <input id="loss" type="radio" name="win" value="loss" class="form-control"> Loss<br>
        <input id="legend" type="checkbox" name="legend" class="form-control"> Legend<br>
    </div>
    <br>
    <input type="submit" value="Submit result" class="btn btn-primary">
</form>
<br>
<a href="{{base_path}}/poista" class="btn btn-danger">Remove a logged result</a>
<br><br>
<a href="{{base_path}}/paasivu" class="btn btn-default">Back to main page</a>
<div hidden>
    <!--Hirveä hakkaus, jolla saadaan parametrit luettua javascriptin sisällä.-->
    <p id="heroIn" title="{{hero}}"></p>
    <p id="opponentIn" title="{{opponent}}"></p>
    <p id="winIn" title="{{win}}"></p>
    <p id="legendIn" title="{{legend}}"></p>
</div>
<script>
    function set(id, value){
        var x = document.getElementById(id);
        x.value = value;
    }
    set('hero', document.getElementById('heroIn').getAttribute('title'));
    set('opponent', document.getElementById('opponentIn').getAttribute('title'));
    if(document.getElementById("winIn").getAttribute('title') == 1){
        document.getElementById("win").checked = true;
    }else{
        document.getElementById("loss").checked = true;
    }
    if(document.getElementById("legendIn").getAttribute('title') == 1){
        document.getElementById("legend").checked = true;
    }
</script>
{% endblock %}
