{% extends "base.html" %}

{% block content %}
<script>
    function hide(id) {
        var x = document.getElementById(id);
        x.style.display = 'none';
    }
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
</script>
<h1>Manage groups</h1><br>
<button id="createButton" onclick="show('createGroup'); hide('createButton');">Create new group</button><br><br>
<form id="createGroup" method="POST" action="{{base_path}}/ryhmat" hidden>
    <input type="text" name="groupName"> Group name<br>
    <input type="submit" value="Create new group">
</form>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>My groups</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>
                <form method="POST" action="{{base_path}}/ryhma1">
                    <input type="hidden" name="teamId" value="{{team.id}}">
                    <input type="submit" value="{{team.name}}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>My invites</h2>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for team in invites %}
        <tr>
            <td>
                <h3>{{team.name}}</h3>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/join">
                    <input type="hidden" name="team" value="{{team.id}}">
                    <input type="submit" name="inviteChoice" value="Accept"> 
                    <input type="submit" name="inviteChoice" value="Reject">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<a href="{{base_path}}/paasivu" class="btn btn-primary btn-lg">Back to main page</a>
{% endblock %}
