{% extends "base.html" %}

{% block content %}
<script>
    function toggle(id) {
        var x = document.getElementById(id);
        if(x.style.display == 'none'){
            x.style.display = 'block';
        }else {
            x.style.display = 'none';
        }
    }
</script>
<a href="{{base_path}}/ryhmat" class="btn btn-primary btn-lg">Back to Groups</a><br>
<h1>{{team.name}}</h1><br>
<button onclick="toggle('settings'); toggle('disband')">Group settings</button>
<form id="settings">
    Make the group<br>
    <input type="submit" name="closed" value="Invite-only">
    <input type="submit" name="closed" value="Open">
</form>
<br><button id="disband" hidden>Disband group</button>
<script>
    document.getElementById('settings').style.display = 'none';
    document.getElementById('disband').style.display = 'none';
</script>
<form method="POST" action="{{base_path}}/invite">
    <br>
    <input type="text" name="player" placeholder="username to invite"> <input type="submit" value="Invite">
</form>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>Members</h2>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>
                <h3>{{member.username}}</h3>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/kick">
                    <input type="hidden" name="memberId" value="{{member.id}}">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>Invites</h2>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in invites %}
        <tr>
            <td>
                <h3>{{member.username}}</h3>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/kick">
                    <input type="hidden" name="memberId" value="{{member.id}}">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
