{% extends "base.html" %}

{% block content %}
<h1>Manage groups</h1><br>
<div class="panel panel-default">
    <div class="panel-body">
        <form method="POST" action="{{base_path}}/ryhmat">
            <div class="form-inline">
                <div class="input-group">
                    <input type="text" name="groupName" value="{{groupNameInput}}" placeholder="Group name" class="form-control">
                    <span class="input-group-btn"><input type="submit" value="Create new group" class="btn"></span>
                </div>
            </div>
            <p id="errorMessage">{{error}}</p>
        </form><br>
        <form method="POST" action="{{base_path}}/groups/join_open">
            <div class="form-inline">
                <div class="input-group">
                    <input type="text" name="joinId" placeholder="join ID" class="form-control">
                    <span class="input-group-btn"><input type="submit" value="Join team" class="btn"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="teamPage" hidden>{{teamPage}}</div>
<div id="invitePage" hidden>{{invitePage}}</div>
<div id="maxTeamPage" hidden>{{maxTeamPage}}</div>
<div id="maxInvitePage" hidden>{{maxInvitePage}}</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>My groups</h2>
            </th>
            <th>
                <p>Page {{teamPage}} of {{maxTeamPage}}</p>
            </th>
            <th>
                <form method="POST" action="groups/pageflip">
                    <input type="hidden" name="list" value="team">
                    <input id="teamFirst" name="button" value="first" type="submit">  
                    <input id="teamPrevious" name="button" value="previous" type="submit">   
                    <input id="teamNext" name="button" value="next" type="submit">   
                    <input id="teamLast" name="button" value="last" type="submit">
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>
                <form method="POST" action="{{base_path}}/ryhma1">
                    <input type="hidden" name="teamId" value="{{team.id}}">
                    <input type="submit" value="{{team.name}}" class="btn btn-default">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>My invites</h2>
            </th>
            <th>
                <p>Page {{invitePage}} of {{maxInvitePage}}</p>
            </th>
            <th>
                <form method="POST" action="groups/pageflip">
                    <input type="hidden" name="list" value="invite">
                    <input id="inviteFirst" name="button" value="first" type="submit">  
                    <input id="invitePrevious" name="button" value="previous" type="submit">   
                    <input id="inviteNext" name="button" value="next" type="submit">   
                    <input id="inviteLast" name="button" value="last" type="submit">
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for team in invites %}
        <tr>
            <td>
                <h3>{{team.name}}</h3>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/join">
                    <input type="hidden" name="team" value="{{team.id}}">
                    <input type="submit" name="inviteChoice" value="Accept" class="btn btn-success"> 
                    <input type="submit" name="inviteChoice" value="Reject" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    var teamPage = parseInt(document.getElementById('teamPage').innerHTML);
    var maxTeamPage = parseInt(document.getElementById('maxTeamPage').innerHTML);
    if(teamPage == 1){
        document.getElementById('teamFirst').style.display = 'none';
        document.getElementById('teamPrevious').style.display = 'none';
    }
    if(teamPage == maxTeamPage){
        document.getElementById('teamNext').style.display = 'none';
        document.getElementById('teamLast').style.display = 'none';
    }
    var invitePage = parseInt(document.getElementById('invitePage').innerHTML);
    var maxInvitePage = parseInt(document.getElementById('maxInvitePage').innerHTML);
    if(invitePage == 1){
        document.getElementById('inviteFirst').style.display = 'none';
        document.getElementById('invitePrevious').style.display = 'none';
    }
    if(invitePage == maxInvitePage){
        document.getElementById('inviteNext').style.display = 'none';
        document.getElementById('inviteLast').style.display = 'none';
    }
</script>
<br><br>
<a href="{{base_path}}/paasivu" class="btn btn-default">Back to main page</a>
<script>
    var error = document.getElementById('errorMessage').innerHTML;
    if(error == ''){
        hide('errorMessage');
    }else{
        show('createGroup');
        hide('createButton');
    }
</script>
{% endblock %}
