{% extends "base.html" %}

{% block content %}
<script>
    function toggle(id) {
        var x = document.getElementById(id);
        if(x.style.display == 'none'){
            x.style.display = 'block';
        }else {
            x.style.display = 'none';
        }
    }
</script>
<a href="{{base_path}}/ryhmat" class="btn btn-primary btn-lg">Back to Groups</a><br>
<h1>{{team.name}}</h1><br>
<button onclick="toggle('settings'); toggle('disband')">Group settings</button>
<form id="settings">
    <br>
    <input type="checkbox" name="closed" checked> Invite-only<br>
</form>
<button id="disband" hidden>Disband group</button>
<script>
    document.getElementById('settings').style.display = 'none';
    document.getElementById('disband').style.display = 'none';
</script>
<form>
    <br>
    <input type="text" name="invited_player"> <input type="submit" value="Invite">
</form>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>
                <h3>{{member.username}}</h3>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/kick">
                    <input type="hidden" name="memberId" value="{{member.id}}">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
