{% extends "base.html" %}

{% block content %}
<script>
    function toggle(id) {
        var x = document.getElementById(id);
        if(x.style.display == 'none'){
            x.style.display = 'block';
        }else {
            x.style.display = 'none';
        }
    }
    function hide(id) {
        var x = document.getElementById(id);
        x.style.display = 'none';
    }
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
</script>
<a href="{{base_path}}/ryhmat" class="btn btn-default">Back to Groups</a><br>
<h1>{{team.name}}</h1>
<h2 id="joinId">Join id: {{team.id}}</h2>
<button onclick="toggle('settings'); toggle('disbandButton'); hide('disband'); hide('noButton');" class="btn">Group settings</button>
<form id="settings" method="POST" action="{{base_path}}/group/settings">
    <br>
    <div id="teamClosed" hidden>{{team.closed}}</div>
    <div class="btn-group">
        <input id="closeIn" type="submit" name="closed" value="Invite-only" class="btn">
        <input id="openIn" type="submit" name="closed" value="Open" class="btn">
    </div>
</form>
<br>
<button id="disbandButton" class="btn btn-danger" onclick="show('disband'); show('noButton');">Disband group</button>
<form id="disband" hidden method="POST" action="{{base_path}}/group/disband">
    <input type="hidden" name="id" value="{{team.id}}">
    Are you sure?<br>
    <input id="yesButton" class="btn btn-success" type="submit" value="Yes">
</form>
<button id="noButton" class="btn btn-danger" onclick="hide('disband'); hide('noButton');" hidden>No</button>
<script>
    document.getElementById('settings').style.display = 'none';
    document.getElementById('disbandButton').style.display = 'none';
    document.getElementById('yesButton').style.width = '100px';
    document.getElementById('noButton').style.width = '100px';
    hide('noButton');
    if(document.getElementById('teamClosed').innerHTML == '1'){
        document.getElementById('closeIn').disabled = 'disabled';
        document.getElementById('closeIn').classList.add('btn-primary');
        document.getElementById('joinId').style.display = 'none';
    }else{
        document.getElementById('openIn').disabled = 'disabled';
        document.getElementById('openIn').classList.add('btn-primary');
    }
</script>
<form method="POST" action="{{base_path}}/invite">
    <br>
    <div class="form-inline">
        <div class="input-group">
            <input type="text" name="player" placeholder="username to invite" class="form-control">
            <span class="input-group-btn"><input type="submit" value="Invite" class="btn btn-primary"></span>
        </div>
    </div>
</form>
<div id="memberPage" hidden>{{memberPage}}</div>
<div id="inviteePage" hidden>{{inviteePage}}</div>
<div id="maxMemberPage" hidden>{{maxMemberPage}}</div>
<div id="maxInviteePage" hidden>{{maxInviteePage}}</div>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>Members</h2>
            </th>
            <th>
                <p>Page {{memberPage}} of {{maxMemberPage}}</p>
            </th>
            <th>
                <form method="POST" action="{{base_path}}/group/pageflip">
                    <input type="hidden" name="list" value="member">
                    <input id="memberFirst" type="submit" name="button" value="first">
                    <input id="memberPrevious" type="submit" name="button" value="previous">
                    <input id="memberNext" type="submit" name="button" value="next">
                    <input id="memberLast" type="submit" name="button" value="last">
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>
                <h3>{{member.username}}</h3>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/kick">
                    <input type="hidden" name="memberId" value="{{member.id}}">
                    <input type="submit" value="Remove" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>Invited players</h2>
            </th>
            <th>
                <p>Page {{inviteePage}} of {{maxInviteePage}}</p>
            </th>
            <th>
                <form method="POST" action="{{base_path}}/group/pageflip">
                    <input type="hidden" name="list" value="invitee">
                    <input id="inviteeFirst" type="submit" name="button" value="first">
                    <input id="inviteePrevious" type="submit" name="button" value="previous">
                    <input id="inviteeNext" type="submit" name="button" value="next">
                    <input id="inviteeLast" type="submit" name="button" value="last">
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for member in invites %}
        <tr>
            <td>
                <h3>{{member.username}}</h3>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/kick">
                    <input type="hidden" name="memberId" value="{{member.id}}">
                    <input type="submit" value="Remove" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    var memberPage = parseInt(document.getElementById('memberPage').innerHTML);
    var maxMemberPage = parseInt(document.getElementById('maxMemberPage').innerHTML);
    if(memberPage == 1){
        document.getElementById('memberFirst').style.display = 'none';
        document.getElementById('memberPrevious').style.display = 'none';
    }
    if(memberPage == maxMemberPage){
        document.getElementById('memberNext').style.display = 'none';
        document.getElementById('memberLast').style.display = 'none';
    }
    var inviteePage = parseInt(document.getElementById('inviteePage').innerHTML);
    var maxInviteePage = parseInt(document.getElementById('maxInviteePage').innerHTML);
    if(inviteePage == 1){
        document.getElementById('inviteeFirst').style.display = 'none';
        document.getElementById('inviteePrevious').style.display = 'none';
    }
    if(inviteePage == maxInviteePage){
        document.getElementById('inviteeNext').style.display = 'none';
        document.getElementById('inviteeLast').style.display = 'none';
    }
</script>
{% endblock %}
