{% extends "base.html" %}

{% block content %}
<h1>Log results</h1>
<br>
<form method="POST" action="{{base_path}}/logging/list/edit/save">
    <div class="form-inline">
        <div class="input-group">
            <span class="input-group-addon">Class</span>
            <select id="hero" name="hero" class="form-control">
                <option value="1">Warrior</option>
                <option value="2">Shaman</option>
                <option value="3">Rogue</option>
                <option value="4">Paladin</option>
                <option value="5">Hunter</option>
                <option value="6">Druid</option>
                <option value="7">Warlock</option>
                <option value="8">Mage</option>
                <option value="9">Priest</option>
            </select>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <div class="input-group">
            <span class="input-group-addon">Opponent</span>
            <select id="opponent" name="opponent" class="form-control">
                <option value="1">Warrior</option>
                <option value="2">Shaman</option>
                <option value="3">Rogue</option>
                <option value="4">Paladin</option>
                <option value="5">Hunter</option>
                <option value="6">Druid</option>
                <option value="7">Warlock</option>
                <option value="8">Mage</option>
                <option value="9">Priest</option>
            </select>
        </div>
    </div>
    <div class="form-inline">
        <input id="win" type="radio" name="win" value="win" class="form-control"> Win<br>
        <input id="loss" type="radio" name="win" value="loss" class="form-control"> Loss<br>
        <input id="legend" type="checkbox" name="legend" class="form-control"> Legend
    </div>
    <input type="submit" value="Save" class="btn btn-primary">
</form>
<script>
    function set(id, value) {
        var x = document.getElementById(id);
        x.value = value;
    }
    set('hero', "{{hero}}");
    set('opponent', "{{opponent}}");
    if ("{{win}}" == '1') {
        document.getElementById("win").checked = true;
    } else {
        document.getElementById("loss").checked = true;
    }
    if ("{{legend}}" == '1') {
        document.getElementById("legend").checked = true;
    }
</script>
{% endblock %}
