{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div><h2>Logged in as {{player.username}}</h2></div>
    </div>
    <div class="panel-body">
        <a href="{{base_path}}/logging" class="btn btn-primary btn-group-justified">Log results</a>
        <br><br>
        <a href="{{base_path}}/analysis" class="btn btn-primary btn-group-justified">View results</a>
        <br><br>
        <a href="{{base_path}}/groups" class="btn btn-primary  btn-group-justified">Manage groups</a>
    </div>
</div>
{% endblock %}
