{% extends "base.html" %}

{% block content %}
<script>
    function hide(id) {
        var x = document.getElementById(id);
        x.style.display = 'none';
    }
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
</script>
<a href="{{base_path}}/logging" class="btn btn-default">Back to Logging</a><br>
<h1>Delete results</h1><br>
<p>Page {{gamePage}} of {{maxGamePage}}</p>
<form method="POST" action="{{base_path}}/logging/remove">
    <input id="first" type="submit" name="button" value="first">
    <input id="previous" type="submit" name="button" value="previous">
    <input id="next" type="submit" name="button" value="next">
    <input id="last" type="submit" name="button" value="last">
</form>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h2>Class</h2>
            </th>
            <th>
                <h2>Opponent</h2>
            </th>
            <th>
                <h2>Win/Loss</h2>
            </th>
            <th>
                <h2>Legend</h2>
            </th>
            <th>
                <h2>Date</h2>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>
                <h3>{{game.hero}}</h3>
            </td>
            <td>
                <h3>{{game.opponent}}</h3>
            </td>
            <td>
                <h3>{{game.win}}</h3>
            </td>
            <td>
                <h3>{{game.legend}}</h3>
            </td>
            <td>
                <h3>{{game.date}}</h3>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/logging/list/edit">
                    <input type="hidden" name="id" value="{{game.id}}">
                    <input type="submit" value="Edit" class="btn btn-default">
                </form>
            </td>
            <td>
                <form method="POST" action="{{base_path}}/logging/list">
                    <input type="hidden" name="id" value="{{game.id}}">
                    <input type="submit" value="Delete" class="btn btn-default">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="gamePage" hidden>{{gamePage}}</div>
<div id="maxGamePage" hidden>{{maxGamePage}}</div>
<script>
    var gamePage = parseInt(document.getElementById('gamePage').innerHTML);
    var maxGamePage = parseInt(document.getElementById('maxGamePage').innerHTML);
    if (gamePage == 1) {
        document.getElementById('first').style.display = 'none';
        document.getElementById('previous').style.display = 'none';
    }
    if (gamePage == maxGamePage) {
        document.getElementById('next').style.display = 'none';
        document.getElementById('last').style.display = 'none';
    }
</script>
{% endblock %}