{% extends "base.html" %}

{% block content %}
<script>
    function hide(id) {
        var x = document.getElementById(id);
        x.style.display = 'none';
    }
    function show(id) {
        var x = document.getElementById(id);
        x.style.display = 'block';
    }
</script>
<a href="{{base_path}}/groups" class="btn btn-default">Back to Groups</a><br>
<h1>{{team.name}}</h1><br>
<button id="leaveButton" onclick="show('confirmation'); show('yesButton'); show('noButton'); hide('leaveButton');" class="btn btn-danger">Leave group</button>
<p id="confirmation" hidden>Are you sure?</p>
<a id="yesButton" href="{{base_path}}/groups/group/leave" class="btn btn-success" hidden>Yes</a>
<button id="noButton" class="btn btn-danger" onclick="show('leaveButton'); hide('confirmation'); hide('yesButton'); hide('noButton');" hidden>No</button>
<script>
    hide('yesButton');
    hide('noButton');
    document.getElementById('yesButton').style.width = '100px';
    document.getElementById('noButton').style.width = '100px';
</script>
<div id="memberPage" hidden>{{memberPage}}</div>
<div id="maxMemberPage" hidden>{{maxMemberPage}}</div>
<table class="table forum table-striped table-hover">
    <thead>
        <tr>
            <th>
                <h1>Members</h1>
            </th>
            <th>
                <p>Page {{memberPage}} of {{maxMemberPage}}</p>
            </th>
            <th>
                <form method="POST" action="{{base_path}}/groups/group/pageflip">
                    <input type="hidden" name="list" value="member">
                    <input id="memberFirst" type="submit" name="button" value="first">
                    <input id="memberPrevious" type="submit" name="button" value="previous">
                    <input id="memberNext" type="submit" name="button" value="next">
                    <input id="memberLast" type="submit" name="button" value="last">
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>
                <h3>{{member.username}}</h3>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    var memberPage = parseInt(document.getElementById('memberPage').innerHTML);
    var maxMemberPage = parseInt(document.getElementById('maxMemberPage').innerHTML);
    if (memberPage == 1) {
        document.getElementById('memberFirst').style.display = 'none';
        document.getElementById('memberPrevious').style.display = 'none';
    }
    if (memberPage == maxMemberPage) {
        document.getElementById('memberNext').style.display = 'none';
        document.getElementById('memberLast').style.display = 'none';
    }
</script>
{% endblock %}
